%h1 Upload a Video
.jumbotron
  = form_for @video do |f|
    %p
      = f.label :name
      %br/
      = f.text_field :name
    %p
      = f.label :file
      = f.file_field :file
    %p= f.submit "Upload Video"