%div
  %h1.text-center File Uploader and Converter
#new-image
  %h2{ style: "text-align: center;" } New Image
  = new_image_form
%div
  %h3 Images
  %table#image-table
    %tr
      %th Name
      %th File
      %th Created
      %th
    - @images.each do |image|
      %tr
        %td= image.name
        %td
          %img{src: image.file, width: "40px"}/
        %td= image.created_at
        %td= link_to 'View', image_path(image)
  -#%h3 Videos
  -#%table{align: "center", border: "1"}
  -#  %tr
  -#    %th Name
  -#    %th File
  -#    %th Created
  -#  - @videos.each do |video|
  -#    %tr
  -#      %td= "#{video.name}:"
  -#      %td= video.file
  -#      %td= video.created_at
  -#      %td= link_to "View", video_path(video)