= form_for image, :html => { :multipart => true }, html: { id: "new-image-form", class: "form-horizontal" } do |f|
  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name, placeholder: "Name"

  .control-group
    = f.label :file, class: "control-label"
    .controls
      .fileupload.fileupload-new{"data-provides" => "fileupload"}
        .input-append
          .uneditable-input.span3
            %i.icon-file.fileupload-exists
            %span.fileupload-preview
          %span.btn.btn-file
            %span.fileupload-new Select file
            %span.fileupload-exists Change
            = f.file_field :file
          %a.btn.fileupload-exists{"data-dismiss" => "fileupload", href: "#"} Remove

  = f.submit 'Begin Upload', id: "upload-image", class: "btn btn-block btn-large btn-primary"