!!!
%html
  %head
    %title FileUploaderConverter
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active= link_to "Home", root_path
        %h3.text-muted Operating Systems Principles
      - flash.each do |key, value|
        %p= value
      = yield
      .footer
        %p © RMIT 2013